*.o
*.dylib*
*.so*
*.d
*.pod
*~

mrgingham
test-find-grid-from-points
test-dump-chessboard-corners
test-dump-blobs
mrgingham-observe-pixel-uncertainty.pod
mrgingham-from-image
mrgingham.usage.h

core

cscope.*

analyses/
debian/.debhelper/
debian/files
debian/*.log
debian/*.substvars
debian/libmrgingham-dev/
debian/libmrgingham1/
debian/tmp/
test/data/

mrbuild
mrbuild/

*.docstring.h
