Source: mrgingham
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9), dh-python,
 libopencv-dev,
 libboost-dev,
 pkg-config,
 chrpath,
 python,
 perl,
 mawk,
 libpython-all-dev,
 python-numpy
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.8
Homepage: https://github.com/dkogan/mrgingham/
Vcs-Git: git@github.com:dkogan/mrgingham.git
Vcs-Browser: https://github.com/dkogan/mrgingham/

Package: libmrgingham1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Chessboard finder for visual calibration routines
 Given an observed image containing a chessboard or a grid of circles, mrgingham
 locates the board in the image, and precisely computes the locatino of the
 chessboard corners (or circle centers). This is similar to the routines in
 OpenCV, but is faster and more robust.
 .
 This package provides the runtime C libraries

Package: mrgingham
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrgingham1 (= ${binary:Version}),
  python-vnlog,
  python-numpysane,
  python-gnuplotlib,
  python-minimal:any
Description: Chessboard finder for visual calibration routines
 Given an observed image containing a chessboard or a grid of circles, mrgingham
 locates the board in the image, and precisely computes the locatino of the
 chessboard corners (or circle centers). This is similar to the routines in
 OpenCV, but is faster and more robust.
 .
 This package provides the user-facing tools

Package: libmrgingham-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libmrgingham1 (= ${binary:Version})
Description: Chessboard finder for visual calibration routines
 Given an observed image containing a chessboard or a grid of circles, mrgingham
 locates the board in the image, and precisely computes the locatino of the
 chessboard corners (or circle centers). This is similar to the routines in
 OpenCV, but is faster and more robust.
 .
 This package provides the development C libraries

Package: python-mrgingham
Section: python
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrgingham1 (= ${binary:Version}),
         ${python:Depends}
Provides: ${python:Provides}
Description: Chessboard finder for visual calibration routines
 Given an observed image containing a chessboard or a grid of circles, mrgingham
 locates the board in the image, and precisely computes the locatino of the
 chessboard corners (or circle centers). This is similar to the routines in
 OpenCV, but is faster and more robust.
 .
 This package provides the Python interfaces
